<div class="container">
  <%= simple_form_for @lecture do |f| %>
    <h2>Quelques renseignements sur vous</h2>
    <div class="row">
      <div class="col-sm-6">
        <%= f.input :first_name, :label => "Prénom" %></div>
      <div class="col-sm-6">
        <%= f.input :last_name, :label => "Nom" %>
      </div>
    </div>
    <%= f.input :avatar, as: :file, :label => "Choisissez un avatar" %>
    <h2>Détaillez votre cours</h2>
    <%= f.association :category, :label => "Catégorie" %>
    <%= f.input :thematic, :label => "Thématique" %>
    <%= f.input :description, :label => "Description du cours" %>
    <%= f.input :photo, as: :file, :label => "Ajoutez une image représentant votre cours [horizontal de préf.]" %>
    <%= f.input :public, :label => "Public visé" %>
    <%= f.input :prerequis, :label => "Prérequis" %>
    <%= f.input :educational_objective, :label => "Objectif éducationnel" %>
    <%= f.input :mean %>
    <%= f.input :program, :label => "Programme" %>
    <%= f.input :evaluation, :label => "Evaluation" %>
    <%= f.input :price, :label => "Prix" %>
    <%= f.submit "Ajoutez votre cours", class: "btn btn-primary" %>
  <% end %>
</div>
