<div class="banner-lecture"><h1 ><%= @lecture.thematic %></h1></div>
<div class="container">
  <div class="container-lecture">
      <div class="details-card">
          <div class="add-lecture-category"><%= @lecture.category.name %></div>
          <div class="add-lecture-category"><%= @lecture.price %> €</div>

          <div class="card-description">
            <div class="img-circle"><%= image_tag("")%></div>
              <ul>
                <h2><%= @lecture.first_name %> <%= @lecture.last_name %></h2><br><br>
                <h2> <%= cl_image_tag @lecture.avatar.key, crop: :fill, class:"avatar" %> </h2>
              </ul>
          </div>

          <div class="card-description"><h2>Que saurez-vous faire à l'issue de cette formation ? </h2><br><br>

            <p><%= @lecture.description %></p>
          </div>


          <div class="card-description">
            <div>
              <h2> A qui s'adresse cette formation ?</h2><br><br>
              <p><%= @lecture.public %></p>
            </div>
          </div>

          <div class="card-description">
            <div>
              <h2> Que faut-il pour accéder à la formation ?</h2><br><br>
              <p><%= @lecture.prerequis %></p>
            </div>
          </div>

          <div class="card-description">
            <h2>En clair, qu'allons nous voir ?</h2><br><br>
            <p><%= @lecture.educational_objective %></p>
          </div>

          <div class="card-description">
            <h2>Nous utiliserons divers moyens pour y parvenir !</h2><br><br>
            <p><%= @lecture.mean %></p>
          </div>

          <div class="card-description">
            <h2>Voici le déroulé de votre formation :</h2><br><br>

            <p><%= @lecture.program %></p>
          </div>

          <div class="card-description">

            <h2>Vérifions ce que vous avez retenu !</h2><br><br>
            <p><%= @lecture.evaluation %></p>
          </div>

          <%= link_to "Ajouter au panier", lecture_paniers_path(@lecture.id), method: :post, class: "btn btn-primary"%>
      </div>
      <div class="card-panier">
        <h2>Panier</h2>
        <% @paniers.each do |panier| %>
          <ul>
            <li><%= panier.lecture.thematic %> - <%= panier.lecture.price %> € <%= link_to "-", panier_path(panier), method: :delete, class: "btn btn-primary" %></li>
          </ul>
        <% end %>
        <p><%= link_to "Voir mon panier", paniers_path %></p>
      </div>
  </div>
</div>
