<div class="banner-lecture"><h1 ><%= @lecture.theme %></h1></div>
  <div class="container">
    <div class="add-lecture-category"><%= @lecture.category %></div>
    <div class="add-lecture-category"><%= @lecture.price %></div>

    <div class="card-description">
      <div class="img-circle"><%= image_tag("")%></div>
        <ul>
          <li><h2>Prénom</h2></li><br><br>
          <li><h2>Nom</h2></li>
        </ul>
    </div>

    <div class="card-description"><h2>Que saurez-vous faire à l'issue de cette formation ? </h2><br><br>

      <p><%= @lecture.main_objective %></p>
    </div>


    <div class="card-description">
      <div>
        <h2> A qui s'adresse cette formation ?</h2><br><br>
        <p><%= @lecture.public %></p>
      </div>
    </div>

    <div class="card-description">
      <div>
        <h2> Que faut-il pour accéder à la formation ?</h2><br><br>
        <p><%= @lecture.prerequis %></p>
      </div>
    </div>

    <div class="card-description">
      <h2>En clair, qu'allons nous voir ?</h2><br><br>
      <p><%= @lecture.educational_objective %></p>
    </div>

    <div class="card-description">
      <h2>Nous utiliserons divers moyens pour y parvenir !</h2><br><br>
      <p><%= @lecture.mean %></p>
    </div>

    <div class="card-description">
      <h2>Voici le déroulé de votre formation :</h2><br><br>

     <p><%= @lecture.program %></p>
    </div>

    <div class="card-description">

      <h2>Vérifions ce que vous avez retenu !</h2><br><br>
      <p><%= lecture.evaluation %>/p>
    </div>
  </div>