<div class="banner-home" style="background-color: #389480">
    <h1>Bienvenue sur TEACH ME!</h1>
    <% if current_user != nil %>
      <h2><%= link_to "Ajoutez votre cours", new_lecture_path, class: "btn" %></h2>
    <% else %>
    <%# <h2><%= link_to "Ajoutez votre cours", new_lecture_path, class: "btn" %><%#</h2> %>
      <h2><small>
      <%= form_tag categories_path, method: :get do %>
        <%= text_field_tag :query, params[:query], placeholder: "..." %>
      <% end %>
      </small></h2>
    <% end %>
</div>

<div class="container">
  <h2>Découvrez nos differentes catégories de cours</h2>

  <ul>
  <div class="grid-categories">
      <% @categories.each do |category| %>
          <li>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key, crop: :fill %>')">
            <%= link_to category.name, category_path(category) %>
            </div>
          </li>
      <% end %>
  </div>
  </ul>
</div>
