<div class="container">
  <%= form_for(@category) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.file_field :photo, as: :file %>
    <%= f.submit %>
  <% end %>
  <br>
  <br>
  <%= link_to "Annuler", categories_path(@category) %>
</div>
