<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @category.photo.key, crop: :fill %>')">
  <h1> <%= @category.name %> </h1>
</div>

<div class="container">
  <div class="searchbar">
  <div class="part">
    Nos cours
  </div>
  <div class="part">
    <%= form_tag categories_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Cherchez un cours"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
  </div>
  <div class="part">
  <%= link_to "Ajoutez votre cours", new_lecture_path, class: "btn btn-success" %>
  </div>
  </div>
  <div class="grid-lectures">
    <% @category.lectures.each do |lecture| %>
    <div class="card-lecture">
        <%= cl_image_tag lecture.photo.key, crop: :fill %>
        <div class="card-lectures-infos">
          <h2><%= lecture.thematic %></h2>
          <p><small><%= lecture.description %></small></p>
        </div>
        <div class="user-references">
          <%= cl_image_tag lecture.avatar.key, crop: :fill, class:"avatar" %>
          <%= lecture.first_name %>
          <%= lecture.last_name %>
        </div>
        <div class="card-lecture-price">
        <div class="btn-infos" style="d-flex">
            <%= link_to "+", lecture_path(lecture) %>
        </div>
          <h6><strong><%= lecture.price %> €</strong></h6>
        </div>
    </div>
    <% end %>
  </div>
</div>
