<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @category.photo.key, crop: :fill %>')">
  <h1> <%= @category.name %> </h1>
</div>

<div class="container">
  <div class="grid-lectures">
    <% @category.lectures.each do |lecture| %>
    <div class="card-lecture">
        <%= cl_image_tag lecture.photo.key, crop: :fill %>
        <div class="card-lectures-infos">
          <h2><%= link_to lecture.name, root_path %></h2>
          <p><small><%= lecture.description %></small></p>
          <h6><strong><%= lecture.price %> €</strong></h6>
        </div>
        <div class="btn-infos" style="d-flex">
            <%= link_to "+ d'infos", lecture_path(lecture) %>
        </div>
    </div>
    <% end %>
  </div>
</div>
